<ng-container *ngIf="!cart.length">
    <h1 class="empty-cart-message">Cart is empty!</h1>
</ng-container>

<div *ngIf="cart.length" class="cart-panel">
    
    <div class="cart-container">
        <div *ngFor="let item of cart" class="cart-item">
            <img src={{item.product.url}} />
            <div class="cart-item-details">
                <h3>{{ item.product.name }}</h3>
                <p>${{ item.product.price }}</p>
                <p>Amount:<input type="number" name="name" min="0" [(ngModel)]="item.quantity" (ngModelChange)="updateTotal($event)"> </p>
            </div>
        </div>
        <h2>${{ total }}</h2>
    </div>

    <form #form="ngForm" (ngSubmit)="onSubmit()" class="form">
        <p>Full name</p>
        <input type="text" name="name" required minlength="3" placeholder="(minimum 3 characters)" [(ngModel)]="order.name">
        <p>Address</p>
        <input type="text" name="address" required minlength="6" placeholder="(minimum 6 characters)" [(ngModel)]="order.address">
        <p>Credit Card Number</p>
        <input type="text" name="card" required minlength="18" maxlength="18" placeholder="(18-digit number)" [(ngModel)]="order.card">
        <br/>
        <button type="submit" [ngStyle]="{'background-color': form.invalid ? 'grey' : '#33e5bc', 'cursor': form.invalid ? 'not-allowed' : 'default'}" [disabled]="form.invalid">Submit</button>
    
        <!-- <div *ngIf="form.invalid">
              Please provide a name.
            <div *ngIf="form.errors">
              Your name must contain at least 3 characters.
            </div>
        </div> -->
    </form>

</div>
