img {
  border-radius: 10px;
  width: 320px;
}
  
.select-input {
  width: 108px; 
  margin-bottom: 8px;
}
  
.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  justify-content: space-between;
}
  
.detail-item {
  margin-left: 135px;
}

.description {
  flex-direction: column;
  margin-right: 135px;
}
  
.back-link {
  margin-top: 8px;
  color: #33B5E5;
  text-decoration: none;
}