<div class="detail-container" >
    <img src={{product.url}} class="detail-item"/>

    <div class="description">
        <h2>{{ product.name }}</h2>
        <p>${{ product.price }}</p>
        <p>{{ product.description }}</p>
        <select class="select-input" [(ngModel)]="selectedQuantity">
            <option *ngFor="let option of options" value={{option}}>{{ option }}</option>
        </select>
        <br/>
        <button (click)="addToCart(product, selectedQuantity)">Add to cart</button>
        <br/>
        <a routerLink="/" class="back-link">&larr; Back to product list</a>
    </div>
</div>
