img {
  border-radius: 10px;
  width: 300px;
}

h2 {
  margin-bottom: 5px;
}

.select-input {
  margin-bottom: 8px;
  min-width: 100px;
}
  
.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  /* justify-content: space-between; */
}
  
.detail-item {
  /* margin-left: 135px; */
  margin-right: 30px;
}

.description {
  flex-direction: column;
  margin-left: 30px;
  /* margin-right: 135px; */
}
  
.back-link {
  margin-top: 8px;
  color: #33B5E5;
  text-decoration: none;
}

button {
  background-color: #33e5bc;
  color: white;
  border-radius: 5px;
  border-color: #33e5bc;
  min-width: 100px;
  margin-bottom: 8px;
}